<h3>Meeting</h3>

<dl>
  <dt>When/Where</dt>
  <dd><%= h @meeting.occurs_at.to_s(:long)%> <%= h @meeting.location %></dd>

  <dt>Description</dt>
  <dd><%= h @meeting.description %></dd>
  <dt>Keywords</dt>
  <dd><%= h @meeting.meeting_keywords.join(', ') %></dd>

  <dt>Talks</dt>
  <dd><table>
    <thead>
      <th>
        Name
      </th>
    </thead>
    <tbody>
      <% @meeting.talks.each do |talk| %>
      <tr>
          <td><%= link_to talk.name, meeting_talk_path(@meeting,talk) %>
          <% admin_only_content do %>

            <%= link_to 'Edit', edit_meeting_talk_path(@meeting,talk) %> |
            <%= link_to 'Destroy', meeting_talk_path(@meeting,talk), :method => :delete %>
          <% end %>
      <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <% admin_only_content do %>
    <%= link_to 'Create a new talk', new_meeting_talk_path(@meeting) %><br/>
  <% end %>
  </dd>
  
</dl>

<div id="rsvp">
    <% if logged_in? %>
        <% if @meeting.user_rsvped?(@current_user) %>
            Thank you, you have RSVPed.
        <% else %>
            Please RSVP for this meeting. <%= link_to "RSVP for this meeting", meeting_rsvps_path(@meeting), :method => :post%>
        <% end %>
    <% else %>
        Log in to RSVP for this meeting!
    <% end %>
</div>

<% admin_only_content do %>
    <div>
        <table>
            <thead>
                <th>Email</th>
                <th>Present?</th>
            </thead>
            <tbody>
                <% @meeting.rsvps.each do |rsvp| %>
                    <tr>
                        <td><%= rsvp.user.email %></td>
                        <td><% form_remote_for(rsvp, :url => meeting_rsvp_path(@meeting,rsvp) ) do |f| %>
                              <%= f.check_box :present, :class => 'present-check-box', :id => "#{dom_id(rsvp)}_present" %>
                            <% end %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>

<% admin_only_content do %>
    <%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<% end %>
<%= link_to 'Back to meetings', meetings_path %>

<script type="text/javascript" charset="utf-8">
  $$('.present-check-box').each(function(elem){
    elem.observe('click', function(e){
      Event.element(e).up().request()
    })
  })
</script>
