<h3>Meeting</h3>

Location: <%= @meeting.location %>
<br/>
Keywords: <%= @meeting.meeting_keywords.join(', ') %>
<br/>
<%= link_to 'View the talks', meeting_talks_path(@meeting) %>

<div id="rsvp">
    <% if logged_in? %>
        <% if @meeting.user_rsvped?(@current_user) %>
            Thank you, you have RSVPed.
        <% else %>
            Please RSVP for this meeting. <%= link_to "RSVP for this meeting", meeting_rsvps_path(@meeting), :method => :post%>
        <% end %>
    <% else %>
        Log in to RSVP for this meeting!
    <% end %>
</div>

<% admin_only_content(@current_user) do %>
    <div>
        <table>
            <thead>
                <th>Email</th>
                <th>Present?</th>
            </thead>
            <tbody>
                <% @meeting.rsvps.each do |rsvp| %>
                    <tr>
                        <td><%= rsvp.user.email %></td>
                        <td><% form_remote_for(rsvp, :url => meeting_rsvp_path(@meeting,rsvp) ) do |f| %>
                              <%= f.check_box :present, :class => 'present-check-box', :id => "#{dom_id(rsvp)}_present" %>
                            <% end %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>

<% if is_admin? %>
    <%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<% end %>
<%= link_to 'Back to meetings', meetings_path %>

<script type="text/javascript" charset="utf-8">
  $$('.present-check-box').each(function(elem){
    elem.observe('click', function(e){
      Event.element(e).up().request()
    })
  })
</script>
