<h2><%= @talk.name %></h2>

<p>Description: <%=h @talk.abstract_description %></p>

<p>Presented by: <%=h @talk.user.email %></p>

<% unless @talk.upload.blank? %>
<p>Download: <%= link_to 'Talk', @talk.upload.public_filename %></p>
<% end %>

<% unless @talk.external_embed.blank? %>
<p><span class="block">External Video:</span> <%= @talk.external_embed %></p>
<% end %>

<% admin_only_content do %>
	<%= link_to 'Edit', edit_meeting_talk_path(@meeting,@talk) %>
<% end %>
<%= link_to "Back to meeting", meeting_path(@meeting) %>