<% form_for @user do |f| %>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>

    <div>
    <%= f.label :login %>
    <%= f.text_field :login %>
    </div>
    
    <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
    Email will be used to generate a <a href="http://en.gravatar.com/">gravatar</a>.
    </div>
    
    <% if is_admin? %>
    <div>
    <%= f.label :role %>
    <%= f.text_field :role %>
    </div>
    
    <div>
        <%= f.label :admin %>
        <%= f.check_box :admin %>
    </div>
    <% end %>
    
    <div>
        <%= f.label :send_emails, "Receive email updates?" %>
        <%= f.check_box :send_emails %>
    </div>
    
    <div>
        <%= f.label :skill_list %>
        <%= f.text_area :skill_list %>
    </div>
    
    <%= f.submit "Save" %>
<% end %>