<div class="profileAvatar">
	<img src="<%= gravatar @user.email, :size =>80 %>" alt="User Avatar" title="" />
</div>
<h1><%= h @user.name %></h1>
<dl>
	<% if can_edit_user %>
	<dt class="private">Email</dt>
	<dd class="private"><%= h @user.email %></dd>
    <% end %>
    
    <% if !@user.role.blank? %>	
	<dt>Title</dt>
	<dd><%= h @user.role %></dd>
	<% end %>
	
	<% if @user.admin? %>
	<dt>Admin</dt>
	<dd><%= h @user.admin %></dd>
	<% end %>
	
	<% if @user.skills.length > 0 %>
	<dt>Skills</dt>
	<dd><%= h @user.skills.join(', ') %></dd>
	<% end %>
</dl>

<% if @user.send_emails? %>
    <% form_for 'notification', :url => email_user_path(@user) do |f| %>
		<div class="formField">
	        <%= label_tag 'message', "Message" %>
	        <%= text_area_tag 'message' %>
		</div>
        
        <%= f.submit 'Send!' %>
    <% end %>
<% end %>

<%= (can_edit_user ? (link_to 'Edit', edit_user_path(@user)) : '') %>
<br />
<%= link_to 'Back to users', users_path %>